.mainPageHeadline {
  border-top: 1px solid black;
  border-bottom: 3px solid black;
  color: orange;
  text-align: right;
}

.main-image {
  height: 100px;
  width: 100px;
  margin-left: 100px;
  display: block;
}

.subPageHeadline {
  text-align: center;
  font-size: 40px;
  color: orange;
}

.commentBox {
  border-top: 2px solid black;
}

.button {
  height: 20px;
  width: 70px;
  font-size: 12px;
  background-color: paleturquoise;
}

.nameBox {
  height: 20px;
  width: 150px;
  font-size: 12px;
}

.homeLink{
  color:purple;
}